<div class="btn-group btn-group-sm" role="group">
    <a class="btn btn-secondary me-1" href="{% url 'tasks:new_inspection' %}">Добавить запись</a>
    {% if filter %}
    <!-- include "includes/filter.html" for correct work of filters -->
    <button class="btn btn-secondary me-1" type="button" data-bs-toggle="collapse" data-bs-target="#filterForm" aria-expanded="false" aria-controls="filterForm">Фильтры</button>
    {% endif %}
</div>
<!-- {% if user.is_authenticated %} 
<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if not follow %}active{% endif %}" href="#">
                  Все авторы
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if follow %}active{% endif %}" href="#">
                Избранные авторы
            </a>
        </li>
    </ul>
</div>
{% endif %}  -->