{% extends "base.html" %}
{% block title %}
{% if is_new %}Новая запись{% else %}Редактировать запись{% endif %}
{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            {% if is_new %}
                <div class="card-header">Новая запись</div>
            {% else %}
                <table class="table table-secondary ">
                    <thead class="align-middle">
                        <th scope="col"><h5>Редактировать запись</h5></th>
                        <th scope="col" class="text-end">
                            <a class="btn btn-primary" href="{% url 'tasks:del_inspection' insp_id %}">Удалить запись</a>
                        </th>
                    </thead>
                </table>

            {% endif %}
            <div class="card-body">
                
                {% for error in form.errors.values %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                   </div>
                {% endfor %}
                
                <form method="post" enctype="multipart/form-data" action="{% if is_new %}{% url 'tasks:new_inspection' %}{% else %}{% url 'tasks:edit_inspection' insp_id %}{% endif %}">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row" aria-required='{% if field.field.required %}"true"{% else %}"false"{% endif %}'>
                        <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-end">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                        <div class="col-md-6 mt-2">
                            {{ field|addclass:"form-control" }}
                            {% if field.help_text %}
                            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                        </div>                
                    </div>
                    {% endfor %}

                    <div class="col-md-6 offset-md-4 mt-2">        
                        <button type="submit" class="btn btn-primary">{% if is_new %}Добавить{% else %}Сохранить{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} 